* {
  box-sizing: border-box;
}

body {
  font-family: "open sans", san-serif;
}

.top-container {
  text-align: center;
  background-color: #E5F3F2;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  margin: 1em;
  color: #6D6E71;
}

.green-idea {
  color: #00A79D;
}

.inner-containers-widths {
  width: 70%;
  margin: 0.35em;
  height: 2em;
}

input {
  color: #939598;
}

.save-button {
  margin-bottom: 1.2em;
  background-color: #00A79D;
  color: #FFF; 
}

.bottom-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
  border-bottom: #D1D3D4 1px solid;
  padding-bottom: 1em;
}

h3 {
  display: inline-block;
  color: #6D6E71;
}

.delete-button {
  background: url('images/delete.svg');
  border: none;
  float: right;
  margin: 2.3em;
}

p {
  margin: 0;
  color: #939598;
}

.up-vote {
  background: url('images/upvote.svg');
  border: none;
}

.down-vote {
  background: url('images/downvote.svg');
  border: none;
  margin: 0 1em: 
}

h5 {
  display: inline-block;
  margin: 0 1em;
  color: #6D6E71;
}
