* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", san-serif;
  margin: 0;
  height: 100%
}

.top-container {
  overflow: auto;
  text-align: center;
  background-color: #E5F3F2;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: "Roboto", open-sans;
  font-size: 3.5em;
  margin: 0.5em;
  color: #6D6E71;
}

.green-idea {
  color: #00A79D;
}

.inner-containers-widths {
  width: 70%;
  margin: 0.35em;
  font-size: 2.5em;
  border: ridge;
}

input {
  color: #939598;
}

.save-button {
  margin-bottom: 1.2em;
  background-color: #00A79D;
  color: #FFF; 
}

/*DOM Events*/
.bottom-container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}

.search-input  {
  margin-top: 2em;
  border: groove;
}

ul {
  width: 70%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  border-bottom: #D1D3D4 1px solid;
  padding-bottom: 1em;
}

h3 {
  display: inline-block;
  color: #6D6E71;
  font-size: 3em;
  margin-bottom: .25em;
}

.delete-button {
  background: url('images/delete.svg');
  background-repeat: no-repeat;
  border: none;
  float: right;
  width: 35px;
  height: 35px;
  margin-top: 75px;
}

.delete-button:hover {
  background: url('images/delete-hover.svg');
}

p {
  margin: 0;
  color: #939598;
  font-size: 2em;
}

.up-vote {
  background: url('images/upvote.svg');
  background-repeat: no-repeat;
  border: none;
  width: 35px;
  height: 35px;
}

.up-vote:hover {
  background: url('images/upvote-hover.svg');
}

.down-vote {
  background: url('images/downvote.svg');
  background-repeat: no-repeat;
  border: none;
  width: 35px;
  height: 35px;
  margin-left: 2.5em;
}

.down-vote:hover {
  background: url('images/downvote-hover.svg');
}

h5 {
  display: inline-block;
  margin: 0 1em;
  color: #6D6E71;
  font-size: 1.65em;
}

@media screen and (max-width: 400px) {

  h1 {
    height: 1em;
  }

  p {
    font-size: .75em;
    align-items: flex-start;
    justify-content: flex-end;
  }

  h3 {
    font-size: .75em;
  }

  h5 {
    font-size: .75em;
  }

  .body-input {
    height: 3em;
  }

  .inner-containers-widths {
    width: 90%;
    font-size: 2em;
  }

  .search-input {
    height: 1em; 
  }

  .delete-button {
  float: right;
  margin: .3em;
  border: none;
  width: 20px;
  height: 20px;

}

.up-vote {
  border: none;
  width: 20px;
  height: 20px;
}

.down-vote {
  border: none;
  width: 20px;
  height: 20px;
  margin-left: .25em;
}
